
.slider{
  
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50%;


}
.buttonSlider{
    width: 25%;
   height: 100%;
    border: none;
    background: transparent;
    .btnImg{
        width: 100%;
        height: 90%;
    }
}
.sliderImg{
    width: 100%;
    height: 100%;
}